.main-home{
  
    background-color: #FFF8DC;
    justify-content: center;
    height: 80vh;
}
h1{
    font-family: 'Abril fatface';
    font-weight: bold;
    font-size: 4.9em;
    text-align: center;
    margin-top: 50px;
}
.cards-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}